@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.comment-area {
  background-color: $white-color;
  padding: 20px 20px 70px 20px;

  .comment-button-wrapper {
    display: block;
    position: absolute;
    top: 180px;
    right: 50px;
    width: 20%;
    text-align: center;
    cursor: pointer;

    /deep/ .el-button {
      padding: 8px 20px;
      background-color: $main-color;
      border-radius: 100px;
      text-indent: 6px;
      color: $white-color;
      @include transition(all, 0.5s);

      &:hover {
        @include transition(all, 0.5s);
        background-color: $sub-color;
      }
    }
  }
}

.comment-list {
  margin-top: 20px;
  background-color: $white-color;
  padding: 20px;
  max-height: 1000px;

  .comment-list-length {
    color: $light-grey;
    font-size: 14px;
    padding: 0 0 20px 15px;
    text-align: right;

    .comment-list-length-num {
      color: $grey;
      text-decoration: underline;
    }
  }
}
