@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.info-wrapper {
  display: inline-block;
  margin-top: 80px;
  padding: 60px;
  width: 100%;
  height: auto;
  background-color: $white-color;

  .left-form-wrapper {
    display: inline-block;
    //padding: 30px;
    width: 55%;
    height: auto;
    margin: 1% 5%;
    border-right: 1px solid $light-grey;

  }

  .right-form-wrapper {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 1% 0;

    .tags-wrapper {
      /deep/ .el-input {
        display: inline-block;
        width: 80px;
      }

      /deep/ .el-tag {
        margin-right: 10px;
        border-radius: 100px;
      }

      button {
        border: solid 1px #CFE4FD;
        border-radius: 100px;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
      }
    }

    .sign-in-button-wrapper {
      display: block;
      float: right;
      //margin-right: 20%;
      text-align: center;
      /deep/ .el-button {
        padding: 8px 20px;
        background-color: $main-color;
        border-radius: 100px;
        text-indent: 6px;
        color: $white-color;
        @include transition(all, 0.5s);

        &:hover {
          @include transition(all, 0.5s);
          background-color: $sub-color;
        }
      }
    }

  }

  h1 {
    color: $main-color;
    font-weight: 400;
    font-size: 22px;
  }

  form {
    margin-top: 30px;
  }

  /deep/ .el-input {
    width: 80%;
  }

  /deep/ .el-form-item {
    margin-bottom: 20px;
  }

  /deep/ .el-form--label-top .el-form-item__label {
    padding: 0;
    height: 35px;
  }
}
